<ion-view title="Bem vindo!" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="bemVindo-heading1" style="color:#000000;text-align:center;">Pergunta 1°</h1>
    <h1 id="bemVindo-heading2" style="color:#000000;font-weight:400;text-align:center;">Quantos bits fazem um byte?</h1>
    <div style="margin-right:-20px;">
      <a ui-sref="quePena" id="bemVindo-button11" style="left:-10px;text-align:left;" class="button button-stable  button-full">A) 16 bits</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="muitoBem" id="bemVindo-button12" style="left:-10px;text-align:left;" class="button button-stable  button-full">B) 8 bits</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="quePena" id="bemVindo-button13" style="left:-10px;text-align:left;" class="button button-stable  button-full">C) 24 bits</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="quePena" id="bemVindo-button14" style="left:-10px;text-align:left;" class="button button-stable  button-full">D) 32 bits</a>
    </div>
  </ion-content>
</ion-view>