<ion-view title="criar conta" id="page2">
  <ion-content padding="true" style="background: url(img/EEgZgIdzSFowIMAND6QP_10-IT-Quiz-and-answers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="criarConta-form11" class="list">
      <label class="item item-input" id="criarConta-input8">
        <span class="input-label">nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="criarConta-input9">
        <span class="input-label">nickname</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="criarConta-input11">
        <span class="input-label">senha</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="criarConta-input12">
        <span class="input-label">email</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>