<ion-view title="Muito bem!" hide-nav-bar="true" hide-back-button="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="muitoBem-heading8" style="color:#000000;text-align:center;">Resposta certa!</h1>
    <div style="margin-right:-20px;">
      <button id="muitoBem-button26" style="left:-10px;" class="button button-balanced  button-full"></button>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page3" id="muitoBem-button17" style="left:-10px;" class="button button-stable  button-full">finalizar quiz</a>
    </div>
  </ion-content>
</ion-view>