<ion-view title="" id="page10">
  <ion-content padding="true" class="has-header">
    <button id="page10-button24" class="button button-light  icon ion-android-create"></button>
    <button id="page10-button22" class="button button-assertive  icon-left ion-ios-minus-outline"></button>
    <button id="page10-button20" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-small button-icon icon-left ion-ios-minus">Tap me!</button>
    <div style="margin-right:-20px;">
      <button id="page10-button18" style="left:-10px;" class="button button-stable  button-full">Consulta</button>
    </div>
    <form id="page10-form5" class="list">
      <label class="item item-input" id="page10-input10">
        <span class="input-label">Pergunta</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="page10-input13">
        <span class="input-label">A)</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page10-input14">
        <span class="input-label">B)</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page10-input15">
        <span class="input-label">C)</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page10-input16">
        <span class="input-label">D)</span>
        <input type="text" placeholder="">
      </label>
      <div style="margin-right:-20px;">
        <button id="page10-button19" style="left:-10px;" class="button button-stable  button-full">Inserir</button>
      </div>
    </form>
  </ion-content>
</ion-view>