<ion-view title="pontuações" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="pontuaEs-list3">
      <ion-item class="item-avatar" id="pontuaEs-list-item15">
        <img src="img/WXMgvyBeTpuky6Wg4gki_download.jpg">
        <h2>1° Mateus - 3 pontos</h2>
        <p>Data: 21/02/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="pontuaEs-list-item16">
        <img src="img/wVtruvATIKsSTQ0luoE2_download.jpg">
        <h2>2° Mateus - 3 pontos</h2>
        <p>Data: 05/03/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="pontuaEs-list-item17">
        <img src="img/BosTgXX1S9CQ2vzumL6c_download.jpg">
        <h2>3° Mateus - 2 pontos</h2>
        <p>Data: 18/01/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="pontuaEs-list-item18">
        <img src="img/UWFzBN0BRblef17FEANQ_download.jpg">
        <h2>4° Mateus - 1 pontos</h2>
        <p>Data: 25/02/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="pontuaEs-list-item19">
        <img src="img/C1LJmfUvTOWz6jxpUykg_download.jpg">
        <h2>5° Mateus - 0 pontos</h2>
        <p>Data: 03/01/2017</p>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="pontuaEs-button39" style="left:-10px;font-weight:600;" class="button button-assertive button-small button-full">Adicionar pontuação</button>
    </div>
  </ion-content>
</ion-view>