<ion-view title="Quiz" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/S70Y8IKRGy9KTP7AE7Pt_download1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <form id="quiz-form4" class="list">
      <label class="item item-input" id="quiz-input5">
        <span class="input-label">usuário</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="quiz-input6">
        <span class="input-label">senha</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="page3" id="quiz-button4" style="font-weight:300;" class="button button-dark  button-block">entrar</a>
    <a ui-sref="criarConta" id="quiz-button5" style="font-weight:300;" class="button button-dark  button-block">criar conta</a>
  </ion-content>
</ion-view>